.container-sm {
    max-width: 480px;
}

.navbar-nav {
    .nav-item {
        margin-right: 1rem;

        .nav-link {
            >* {
                display: inline-block;
                vertical-align: middle;
            }

            .mat-icon {
                margin-right: 0.5rem;
            }
        }
    }
}

table {
    width: 100%;
}

.account-icon {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    background: transparent no-repeat center center;
    background-size: cover;

    &.small {
        width: 32px;
        height: 32px;
    }

    &.medium {
        width: 50px;
        height: 50px;
    }

    &.RL {
        background-image: url("/assets/img/RL.png");
    }

    &.RE {
        background-image: url("/assets/img/RE.png");
    }

    &.PP {
        background-image: url("/assets/img/PP.png");
    }

    &.FRL {
        background-image: url("/assets/img/FRL.png");
    }

    &.CH {
        background-image: url("/assets/img/CH.png");
    }
}

.text-income {
    color: $green;
}

.text-cost {
    color: $danger;
}

.clickable {
    cursor: pointer;
}

.radio-buttons {
    .item {
        padding: 1rem 1rem;
        border: 1px solid $gray-300;
        text-align: center;
        margin: 1px 5px;
        cursor: pointer;

        font-size: 12px;

        &.active {
            border: 2px solid $primary;
            margin: 0 4px;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &.accounts {
        .item {
            width: 19%;
        }
    }

    &.users {
        .item {
            width: 49%;
        }
    }
}

.order-type {
    cursor: pointer;

    &.income {
        color: $green;
    }

    &.cost {
        color: $danger;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.--va {
    >* {
        display: inline-block;
        vertical-align: middle;
    }
}

.form-item {
    position: relative;
    padding: 1rem;
    border: 1px solid $gray-500;
    margin-bottom: 1rem;

    .form-item-remove {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0;
        @include transit-fast();
    }

    &:hover {
        .form-item-remove {
            opacity: 1;
        }
    }
}

.create-btn-line {
    margin-top: 2rem;
    margin-bottom: -2.5rem;
}

.mat-dialog-content {
    background: $gray-100;
    border: 1px solid $gray-300;
    border-width: 1px 0;
    padding: 2rem !important;
}

.inline-form {
    @include flex-jus-betw;
}
