<div class="create-btn-line">
	<button mat-raised-button color="primary" (click)="create()">Add New</button>
</div>

<mat-paginator [length]="dataCount" [pageSize]="chunk" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef> Date </th>
		<td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.date | date:"mediumDate"}} </td>
	</ng-container>
	<ng-container matColumnDef="account">
		<th mat-header-cell *matHeaderCellDef> Account </th>
		<td mat-cell *matCellDef="let element" class="text-nowrap">
			<app-account-icon [account]="element.account" class="mr-2"></app-account-icon>
			<span>{{element.account?.name}}</span>
		</td>
	</ng-container>
	<ng-container matColumnDef="desc">
		<th mat-header-cell *matHeaderCellDef> Description </th>
		<td mat-cell *matCellDef="let element"> {{element.desc}} </td>
	</ng-container>
	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef class="text-right"> Amount </th>
		<td mat-cell *matCellDef="let element">
			<div class="text-right text-nowrap" [ngClass]="'text-' + element.type">
				{{element.amount}} {{element.currency?.name}}
			</div>
		</td>
	</ng-container>



	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)" class="clickable"></tr>
</table>

<mat-paginator [length]="dataCount" [pageSize]="chunk" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
