<div class="create-btn-line">
	<button mat-raised-button color="primary" (click)="create()">Add New</button>
	<button mat-raised-button color="primary" class="ml-3" util-file-selector (onSelect)="import($event)">Import CSV</button>
	<div class="d-inline-block ml-3">
		<form (submit)="search()" class="inline-form">
			<mat-form-field class="w-100">
				<input matInput [(ngModel)]="searchTerm" name="searchTerm">
			</mat-form-field>
			<div class="pl-3">
				<button mat-raised-button color="primary" type="submit">Search</button>
			</div>
		</form>
	</div>

</div>

<mat-paginator [length]="dataCount" [pageSize]="chunk" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef> Date </th>
		<td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.date | date:"mediumDate"}} </td>
	</ng-container>
	<ng-container matColumnDef="account">
		<th mat-header-cell *matHeaderCellDef> Account </th>
		<td mat-cell *matCellDef="let element" class="text-nowrap">
			<app-account-icon [account]="element.account" class="mr-2"></app-account-icon>
			<span>{{element.account?.name}}</span>
		</td>
	</ng-container>
	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef> Category </th>
		<td mat-cell *matCellDef="let element" class="px-1"> {{element.tableInfo}} </td>
	</ng-container>
	<ng-container matColumnDef="desc">
		<th mat-header-cell *matHeaderCellDef> Description </th>
		<td mat-cell *matCellDef="let element" class="px-1"> {{element.desc}} </td>
	</ng-container>
	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef class="text-right"> Amount </th>
		<td mat-cell *matCellDef="let element">
			<div class="text-right text-nowrap" [ngClass]="'text-' + element.type">
				{{element.amount | number:'1.2-2'}} {{element.currency?.name}}
			</div>
		</td>
	</ng-container>



	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)" class="clickable"></tr>
</table>

<mat-paginator [length]="dataCount" [pageSize]="chunk" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
