<ng-container>
	<h1 mat-dialog-title class="d-flex justify-content-between align-items-center">
		<div>Caution!</div>
		<!-- <button mat-button mat-dialog-close tabindex='-1'>
			<mat-icon>clear</mat-icon>
		</button> -->
	</h1>
	<div mat-dialog-content>
		<p class="text-center">{{data.text}}</p>
	</div>
	<div mat-dialog-actions class="d-flex justify-content-end">
		<button mat-raised-button mat-dialog-close>No</button>
		<button mat-raised-button color="warn" (click)="confirm()">Yes</button>
	</div>

</ng-container>
