<div class="modal-content">

	<mat-dialog-content>
		<div class="text-center h4 pt-4 pb-4" [ngSwitch]="data.type">
			<span *ngSwitchCase="'delete_document'">Are you sure you want to delete
				<b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_location'">Are you sure you want to delete this Location?</span>
			<span *ngSwitchCase="'delete_education'">Are you sure you want to delete this Education?</span>
			<span *ngSwitchCase="'delete_cert'">Are you sure you want to delete this Certificate?</span>
			<span *ngSwitchCase="'delete_image'">Are you sure you want to delete this Image?</span>
			<span *ngSwitchCase="'delete_webinar_series'">Are you sure you want to delete this Webinar Series?</span>
			<span *ngSwitchCase="'delete_webinar'">Are you sure you want to delete this Webinar?</span>
			<span *ngSwitchCase="'connect'">
				<span class="h4">Would you like to connect with {{data.data.name}}?</span>
			</span>
			<span *ngSwitchCase="'disconnect'">Are you sure you want to delete your connection with {{data.data.name}}?</span>
			<span *ngSwitchCase="'revoke_connect_request'">Are you sure you want to revoke your connection request to {{data.data.name}}?</span>
			<span *ngSwitchCase="'decline_connect_invitation'">Are you sure you want to decline the connect invitation from {{data.data.name}}?</span>
			<span *ngSwitchCase="'approve_pp_request'">Are you sure you want to approve the request for Preferred Partner by {{data.data.name}}?</span>
			<span *ngSwitchCase="'reject_pp_request'">Are you sure you want to reject the request for Preferred Partner by {{data.data.name}}?</span>
			<span *ngSwitchCase="'approve_request'">Are you sure you want to approve this request?</span>
			<span *ngSwitchCase="'reject_request'">Are you sure you want to reject this request?</span>
			<span *ngSwitchCase="'delete_coupon'">Are you sure you want to delete this Coupon permanently?</span>
			<span *ngSwitchCase="'delete_industry'">Are you sure you want to delete this Industry?</span>
			<span *ngSwitchCase="'delete_request'">Are you sure you want to delete this Request?</span>
			<span *ngSwitchCase="'delete_user'">Are you sure you want to delete user <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_video'">Are you sure you want to delete video <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_article'">Are you sure you want to delete article <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_question_campaign'">Are you sure you want to delete list <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_question'">Are you sure you want to delete question <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_question_option'">Are you sure you want to delete option <b>{{data.data.name}}</b>?</span>
			<span *ngSwitchCase="'delete_listing'">Are you sure you want to delete listing <b>{{data.data.name}}</b>?</span>

			<span *ngSwitchCase="'cancel_registration'">Are you sure you want to cancel your registration for <b>{{data.data.name}}</b>?</span>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions class="modal-footer">
		<button class="btn btn-outline-secondary border-0" type="button" mat-dialog-close>No</button>
		<button class="btn gradient padded" type="button" (click)="confirm()">Yes</button>
	</mat-dialog-actions>
</div>
